nav.pagination {
  margin-top: 10px;
  text-align: center;

  a,
  span {
    background: transparentize($link-color, .5);
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: .875rem;
    line-height: 2;
    padding: 0 .75em;
    transition: .3s background;

    + a,
    + span {
      margin-left: .25em;
    }
  }

  a,
  a:link,
  a:link:visited {
    border: 0;
    color: #fff;

    &:hover,
    &:focus {
      background: transparentize($link-color, .25);
    }
  }

  .current,
  .current:link {
    &,
    &:visited {
      &,
      &:focus,
      &:hover {
        background-color: $link-color;
        font-weight: 700;
      }
    }
  }
}
