.page-footer {
  margin-top: 30px;
  text-align: center;

  * {
    color: #777;
    font-size: .875rem;
  }

  @media screen and (min-width: 45em) {
    margin-top: 60px;
  }

  @media screen and (min-width: 60em) {
    margin-top: 90px;
  }
}
