.page-header {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto 1fr;
  -ms-grid-columns: auto 10px 1fr;
  margin: -10px -10px 10px;
  padding: 10px;

  h2,
  h3 {
    line-height: 1.4rem;
    margin: 0;

    @media screen and (min-width: 25em) {
      line-height: 2rem;
    }
  }

  h2 {
    font-size: 1rem;
    grid-column: 1;

    @media screen and (min-width: 25em) {
      font-size: 1.331rem;
    }

    a,
    a:link {
      &,
      &:visited {
        &,
        &:hover,
        &:active {
          border-bottom: none;
          color: $text-color;
        }
      }
    }
  }

  h3 {
    font-size: 1rem;
    grid-column: 2;
    -ms-grid-column: 3;
    text-align: right;

    @media screen and (min-width: 25em) {
      font-size: 1.21rem;
    }
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-column-span: 3;
    grid-row: 2;
    text-align: center;

    a + a {
      margin-left: 1em;
    }

    @media print {
      display: none;
    }
  }

  @media screen and (min-width: 45em) {
    grid-template-columns: auto auto 1fr;
    -ms-grid-columns: auto 10px auto 10px 1fr;

    h2 {
      grid-column: 1;
    }

    h3 {
      grid-column: 2;
      -ms-grid-column: 3;
    }

    nav {
      grid-column: 3;
      -ms-grid-column: 5;
      grid-row: 1;
      line-height: 2rem;
      text-align: right;
    }
  }
}
