doctype html
html
  head
    meta(charset="utf-8")
    title Ben Saufley | #{data.title}
    link(rel="stylesheet" href="/styles/app.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="web developer,full-stack engineer,senior web engineer,user experience,ux engineer,web designer")
    meta(name="description" content="Ben Saufley is a full-stack web developer and designer based out of Boston, MA, specializing in user experience and front-end technologies. He also talks too much about soccer.")
    meta(name="robots" content="index,follow")
    link(rel="icon" href="/favicon.ico")
    if process.env.NODE_ENV === 'production'
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-7186972-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-7186972-1');

  body
    header.page-header
      h2
        a(href="/") Ben Saufley
      h3 Web Designer &amp; Developer
      nav
        a(href="/") Home
        a(href="/projects") Projects
        a(href="/resume") Résumé
        a(href="/contact") Contact

    main
      block content
        != contents

    footer.page-footer
      p.
        Copyright ©#{new Date().getFullYear()} Ben Saufley.
        #[a(href="mailto:contact@bensaufley.com") Contact]
        • #[a(href="https://github.com/bensaufley/personal-website") View on Github]
    script(src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.4/beautify-html.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js")
    script(src="/scripts/app.js")
