doctype html
html
  head
    title Ben Saufley | #{title}
    link(rel="stylesheet" href="/styles/app.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    header.page-header
      h2
        a(href="/") Ben Saufley
      h3 Web Designer &amp; Developer
      nav
        a(href="/") Home
        a(href="/resume") Résumé
        a(href="/contact") Contact

    main!= contents

    footer.page-footer
      p.
        Copyright ©#{new Date().getFullYear()} Ben Saufley.
        #[a(href="mailto:contact@bensaufley.com") Contact]
        • #[a(href="https://github.com/bensaufley/personal-website") View on Github]
    script(src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js")
    script.
      WebFont.load({
        google: {
          families: ['Lato:300,300i,700,700i']
        }
      });
