doctype html
html
  head
    meta(charset="utf-8")
    title Ben Saufley | #{data.title}
    link(rel="stylesheet" href="/styles/app.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="web developer,full-stack engineer,senior web engineer")
    meta(name="description" content="Ben Saufley is a senior full-stack software engineer based out of Portland, ME, with a diverse background in design, marketing, and technologies all through the stack—from the server, database, and infrastructure, through the front end. He also talks too much about soccer.")
    meta(name="robots" content="index,follow")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png")
    link(rel="manifest" href="/images/icons/manifest.json")
    link(rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="me" href="https://tifosi.social/@bensaufley")
    meta(name="theme-color" content="#ffffff")
    if process.env.NODE_ENV === 'production'
      script(async src="https://www.googletagmanager.com/gtag/js?id=G-HXDEJNG2F6")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HXDEJNG2F6');

  body
    header.page-header
      h2
        a(href="/")
          | Ben
          |
          span(title="SAWF-lee") Saufley
      h3 Full-Stack Software Engineer
      nav
        a(href="/") Home
        a(href="/projects") Projects
        a(href="/resume") Résumé
        a(href="/contact") Contact

    main
      block content
        != contents

    footer.page-footer
      p.
        Copyright ©#{new Date().getFullYear()} Ben Saufley.
        #[a(href="mailto:contact@bensaufley.com") Contact]
        • #[a(href="https://github.com/bensaufley/personal-website") View on Github]
    script(src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.6/beautify-html.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js")
    script(src="/scripts/app.js")
